<app-navbar></app-navbar>
<div id="logincontainer" >
    <div class="container">
        <div class="card card-container">
            <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputName"  class="form-control" formControlName="inputName" placeholder="Full Name" required autofocus>
                <input type="email" id="inputEmail"  class="form-control" formControlName="inputEmail" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword"  class="form-control" formControlName="inputPassword" placeholder="Password" required>
                <input type="password" id="inputConfirmPassword"  class="form-control" formControlName="inputConfirmPassword" placeholder="Confirm Password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a routerLink='' class="sign-up">
               Click here to login
            </a>
        </div>
    </div>
</div>